/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Custom CSS */

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background-color: #faf9f6;
  font-size: 62.5%;
}

body {
  background: #f4f1ec;
  color: #736e69;
  font-family: 'Avenir', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.625;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

section:first-of-type article {
  background-color: #eae7e0;
  width: 100%;
}

section:first-of-type article:first-of-type p {
  display: inline-block;
  font-weight: bold;
}

section:first-of-type article p:first-of-type {
  padding-left: 8px;
}

section:first-of-type article p:first-of-type:hover {
  cursor: pointer;
}

section:first-of-type article p:nth-of-type(2) {
  cursor: default;
  font-weight: normal;
}

section:nth-child(2) {
  left: 50%;
  margin-right: -50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: #4a4a4a;
  font-family: Baskerville MT, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 40px;
  font-size: 4rem;
}

h1::before {
  background-color: #eb4f47;
  content: '';
  display: block;
  height: 6px;
  margin: 0 auto 20px;
  width: 80px;
}

a {
  color: inherit;
  padding-bottom: 2px;
  text-decoration: none;
}

a:hover,
section:first-of-type p:first-of-type:hover {
  opacity: .8;
}

.hidden {
  display: none !important;
}
