*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background-color: #20202b;
  font-size: 62.5%;
}

body {
  background: #20202b;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.625;
  -webkit-text-size-adjust: 100%;
}

body *, h1, h2, h3, h4, h5, h6, p {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.1em;
}

#body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(squiggle.svg);
  background-size: cover;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Catamaran", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #fff;
    line-height: 1.4;
}

main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

main h1 {
  font-size: 7rem;
  line-height: 1;
}

main a {
  background-color: transparent;
  color: #00CED1;
  font-weight: 700;
  text-decoration: none;
}

main a:hover {
  opacity: 0.8;
}

article {
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-evenly;
  margin-top: 0.25em;
}

@media (max-width: 650px) {
    main h1 {
        font-size: 4rem;
    }
    main p {
        font-size: 1.4rem;
    }
}
