/*
COLOR SCHEME
---------------
RED         #A92F41     (hover link color)
YELLOW      #E5DFC5     (title)
BROWN       #B48375     (title hashtag)
GREEN       #91C7A9     (link color)
BLACK       #222222     (background color)

*/

body {
    font-family: 'Fira Mono', Consolas, "Courier New", Courier, Arial, sans-serif;
    /*    background: #252120;*/
    background: #222222;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

hr {
    max-width: 400px;
    border-color: #fff;
}

a,
a:hover,
.btn-link,
.btn-link:hover,
.btn-link:active,
.btn-link:focus {
    color: #91C7A9;
}

blockquote {
    font-size: inherit;
    display: block;
    border-left: 5px solid #fff;
    /*    border-color: #222222;*/
    /*
    margin-top: 1em;
    margin-bottom: 1em;
*/
    /*    margin-left: 40px;*/
    /*    margin-right: 40px;*/
}

p {
    line-height: 30px;
}

pre {
    background: #222222;
    color: #fff;
    border-color: #222222;
}

#intro_div {
    max-width: 800px;
}

.underCon {
    color: #E5DFC5;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    text-align: center;
}

.navbar-default {
    background: rgb(34, 34, 34);
    border-color: #222222;
    text-align: center;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #A92F41;
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #A92F41;
    background: #222222;
}

.dropdown-menu {
    font-size: 16px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    text-align: left;
    list-style: none;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
    background-color: #222222;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #A92F41;
    text-decoration: none;
    background-color: #222222;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #222222;
    outline: 0;
}

ul > #favProgramList > .list-group > li > .list-group-item {
    padding: none;
}

.list-group-item {
    font-weight: bold;
    color: #fff;
    background-color: #222222;
    border-color: #222222;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
        border-color: #222222;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #A92F41;
        text-decoration: none;
        background-color: #222222;
    }
}

#ModalLabel {
    color: #000;
}

#collapse-btn {
    background-color: #222222;
}

span:hover,
span:active,
span:focus {
    color: #A92F41;
}

.form-control-label {
    color: #000;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #222222;
    background-color: #222222;
}

.navbar-default .navbar-toggle {
    width: 100%;
    float: none;
    margin-right: 0;
    border-color: #222222;
}

.col-lg-12 h4,
.col-lg-6 h4 {
    color: #E5DFC5;
    font-weight: 700;
}

.col-lg-12 h4 span,
.col-lg-6 h4 span {
    color: #B48375;
    font-weight: 700;
}


/*.navbar-default .navbar-toggle > span:hover,
.navbar-default .navbar-toggle > span:focus,
.navbar-default .navbar-toggle > span:active{
color: #A92F41;
}*/

.col-lg-12 p {
    margin-left: 35px;
}

.col-lg-12 blockquote {
    margin-left: 35px;
}

h1 span,
h1 span:hover {
    color: #A92F41;
}